---
title: 'Movie Journal'
subtitle: '<a href="https://letterboxd.com/higby_/">Letterboxd</a>'
ddate: 2023-03-09
laydout: page
eleventyComputed:
  date: '{{ letterboxd[0][1][1].date }}'
pinned: true
class: movie-journal
category: log
styles: 'movie-journal'
---

{% for year in letterboxd %}
  <h2>{{ year[0] }}</h2>

  {% for entry in year[1] %}
    <div class="entry">
      <h3>{{ entry.title }} ({{ entry.year }})</h3>      
      <time>{{ entry.date | formatDate: "MMM DD" }}</time>
      <p class='rating{% if entry.twoThumbsUp %} twoThumbsUp{% endif %}'>{{ entry.rating }}</p>
      {% if entry.review %}<div class='review'>{{ entry.review }}</div>{% endif %}
    </div>
  {% endfor %}
{% endfor %}
