---
permalink: "{{ page.fileSlug }}/"
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="author" href="/humans.txt"/>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="/assets/js/core.js" defer></script>
    <script src="/assets/js/main.js" defer></script>
    <title>Branden Higby</title>
  </head>
  <body>
    <header>
      <h1><a href="/" class="internal">Branden <i class="higby">Higby</i></a></h1>
    </header>
    <main>
      <header>
        <h1>{{ title }}</h1>
        <p><strong><time datetime="{{ page.date | date_to_xmlschema }}">{%- assign date_format = "%b %d, %Y" -%} {{ page.date | date: date_format }}</time></strong></p>
        {{ content | toc }}
      </header>
      {{ content }}
      <footer>
        <a href="https://instagram.com/higby_" target="_blank" rel="noopener noreferrer">instagram</a><br>
        <a href="https://github.com/higby" target="_blank" rel="noopener noreferrer">github</a><br>
        <code><a href="https://github.com/higby/pgp" target="_blank" rel="noopener noreferrer">9668 ECE1 5152 8A07</a></code>
      </footer>
    </main>
  </body>
  <!--
                                                                                       @C5%@mg
                                                                                    @#M##    `7@p
                                                                                    ^#          @M
                                                                                      1##M      @b
                                                                                        `      ,#
                                                                                              #C sm,
                                                                                           ,##e#W###
                                                                                    ,,emM5"|`
                                                                            ,sm#M57@#
                                                                   ,,s#MM"7^,     #C
                                                           ,,e##M57|`            #\
  ,                                                 ,,e#W%T^,                   ]#
@##                                        ,sm#W"7^~                    ,##m, @b
  "#,,,,,,                        ,;am#M77||                           @#######m
          |5MJ            ,,am##77|`                                  ############b
             '%w  ,,e#M#7^~    ^"@w                                  ############"
        s#M,e#Mb7"`    @~          |%MJ         ,                   ^7@#########~
        %MM`            #             ""Wm,     @###Mm,           ,,e#M5"5@####
                        jb                '7%m,  #########Mmm#W5"`~         ^7
                        ]#m                   '7@##########~
                        #` "@,                    #######|
                       {b    |@p                  j####"
                       #   m   @C                  @#O
                      "Ww  `  #b                    `
                         |%Mg#^
                            jQ
                             @p
                              #
                              ]Q
                             ]#~"%mp
                            #b ,m  `@b
                           5W,  `  #\
                             ,7%mJ#
                                 1p
                                  #
                                  jQ
                                 #M7""7@p
                               ,#       ^#
                               ]b        #
                                @Q      #b
                                 |7WM#W^
                                                                                                 -->
</html>
