---
title: 'Shiny Pokemon'
description: 'My collection of shiny Pokemon'
date: 2021-04-06
tags: ['list']
redirect: 'pokemon'
---

<h2>Caught</h2>

<ul class="box" role="list">
  {% for pokemon in caught %}
    <li>
      <img class="pokeball" src='pokemon/balls/{{ pokemon.stats.ball | slugify }}.png' alt='Pokeball'>
      <img class="pokemon" src='pokemon/{{ pokemon.name | slugify }}.png' alt='Pokemon'>
      <hr>
      <p>
        <strong>{{ pokemon.name }}</strong> the {{ pokemon.species }}
        <br>
        Caught in {{ pokemon.stats.original_game }}
      </p>
    </li>
  {% endfor %}
</ul>

<h2>Hunting</h2>

<ul class="box" role="list">
  {% for pokemon in hunting %}
    <li>
      <img class="pokemon" src='pokemon/{{ pokemon.name | slugify }}.png' alt='Pokemon'>
      <hr>
      <p>
        <strong>{{ pokemon.name }}</strong> the {{ pokemon.species }}
        <br>
        Hunting in {{ pokemon.stats.original_game }}
      </p>
    </li>
  {% endfor %}
</ul>

{% stylesheet %}
ul.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  li {
    background-color: var(--foreground);
    border-radius: .25rem;
  }
  img {
    margin: 0;
    width: 100%;
  }
  hr {
    margin: 0 1rem;
  }
  p {
    margin: 0;
    padding: 1rem;
  }
  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 430px) {
    grid-template-columns: 1fr;
  }
}
.pokemon img {
  padding: 1rem;
  /*animation: bounce 1.75s ease-out infinite;
  animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);*/
}
.pokeball {
  display: block;
  justify-self: start;
  left: 0.25rem;
  margin: 0 0 -2rem 0;
  position: relative;
  top: 0.25rem;
  width: 31px;
  z-index: 1;
  background: none;
}

@keyframes bounce {
  from {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-10px)
  }
  to {
    transform: translateY(0)
  }
}
{% endstylesheet %}